/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
*.log
/public/uploads
/public/files
.env
.env.*
*.env
.env copy
__MACOSX/
.DS_Store
*.zip
